*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    height: 3em;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: sticky;
    top: 0;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 1em;
}

.hero{
    background-image: url(../img/hero-bg-1.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
}

h1, p{
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 3rem;
    text-transform: uppercase;
    color: orange;
}

p{
    top: 25%;
    left: 20%;
    font-size: 1.5rem;
}

.gallery-items{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 3em auto;
    gap: 2em;
    padding: 5em 0;
}

.gallery img{
    max-width: 30%;
}

.tour-dates{
    text-align: center;
    padding: 5em 0;
}

.tour-dates li::after{
    font-weight: bold;
    color: red;
    content: " SOLD OUT";
}

.tour-dates li:nth-child(5)::after{
    font-weight: light;
    color: green;
    content: " Still Available";
    cursor: pointer;
}

.tour-dates li:nth-child(6)::after{
    font-weight: light;
    color: green;
    content: " Still Available";
    cursor: pointer;
}
